.heroWrap {
  position: relative;
  border-radius: 4px;
}

.heroTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border-bottom: 0.2px solid var(--cream);
  letter-spacing: 0.04em;
}

.video {
  width: 100%;
  background-size: cover;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.heroBackground {
  position: absolute;
  inset: 0;
  bottom: 8px;
  background-color: var(--background);

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.heroContent {
  text-align: center;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-brown);
  border: 1px solid var(--main);
  border-radius: 4px;
  color: var(--cream);
  padding: 8px;
}

.heroDescription {
  color: var(--cream);
  background-color: var(--dark-brown);
  padding: 8px;
  text-align: center;
  border: 1px solid var(--main);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    font-size: 32px;
  }
}
