:root {
  --main: #774422;
  --secondary: #c08947;
  --cream: #f2e2d4;
  --dark-brown: #4b3827;
  --background: rgba(0, 0, 0, 0.4);
}

.wrapper {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
}
